@using System.Web.Optimization
@using TMTK05.Models
@{
    ViewBag.Title = "All Pages";
    ViewBag.HeaderTitle = "All Pages";
    ViewBag.HeaderSubHeading = "Overview";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";

    var pageInfo = PageModel.AllPages();
}
@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Pages
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> All Pages
        </li>
    </ol>
}

<div class="table-responsive">
    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                @if (IdentityModel.CurrentUserOwner)
                {
                    <th>Edit</th>
                    <th>Delete</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i <= pageInfo.Count/5; i++)
            {
                <tr style="height: 51px" id="@pageInfo[i*5 - 5]">
                    <td style="vertical-align: middle">
                        @pageInfo[i*5 - 5]
                    </td>
                    <td style="vertical-align: middle">
                        @pageInfo[i*5 - 4]
                    </td>
                    <td style="vertical-align: middle">
                        @pageInfo[i*5 - 3]
                    </td>
                    <td style="vertical-align: middle">
                        @if (pageInfo[i*5 - 2] == "0")
                        {
                            <span>Static page</span>
                        }
                        else
                        {
                            <span>Blog page</span>
                        }
                    </td>
                    @if (IdentityModel.CurrentUserOwner)
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditPage", "Admin", new {id = pageInfo[i*5 - 5]}, new {@class = "btn btn-primary"})
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick=" confirmDelete(@pageInfo[i*5 - 5], '@pageInfo[i*5 - 4]') ">Delete</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    @Scripts.Render("~/Bundles/SortableScripts")
    @if (IdentityModel.CurrentUserOwner)
    {
        <script type="text/javascript">
            function confirmDelete(pageId, pageName) {
                alertify.confirm("Delete", "Are you sure you want to delete " + pageName + "?",
                    function() {
                        var url = "/Admin/DeletePage";
                        $.get(url, { input: pageId }, function(data) {
                            if (data == "True") {
                                alertify.success(pageName + " deleted!");
                                $('#' + pageId).hide(500);
                            } else {
                                alertify.error("Oops something went wrong!");
                            }
                        });
                    }, null).setting({ 'labels': { ok: 'Yes', cancel: 'No' }, 'movable': false });
            }
        </script>
    }
}