@using System.Web.Optimization
@using TMTK05.Models

@{
    ViewBag.Title = "Dashboard";
    ViewBag.HeaderTitle = "Dashboard";
    ViewBag.HeaderSubHeading = "Overview";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class ="active">
            <i class="fa fa-dashboard"></i> Dashboard
        </li>
    </ol>
}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel">
            <div id="weather"></div> 
        </div>
        <div class="counterField">
            <div class="titleCounters">Pages</div>
            <div class="pictureFieldCounters"><img src="~/Img/pages.png" alt="pages" /></div>
            <div class="counterText">@DashboardModel.PageCount()</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="clock">
            <div id="Date"></div>
            <ul>
                <li id="hours"></li>
                <li id="point">:</li>
                <li id="min"></li>
                <li id="point">:</li>
                <li id="sec"></li>
            </ul>
        </div>
        <div class="counterField">
            <div class="titleCounters">Users</div>
            <div class="pictureFieldCounters"><img src="~/Img/users.png" alt="users" /></div>
            <div class="counterText">@DashboardModel.UserCount()</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="tweets">
            <h3><i><img src="../Img/tweets.png" alt="" /> </i> Latest Tweets</h3>
            <div class="tweets_list">
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <a href="#">TEST</a>
                        <span>10 minutes ago</span>
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore eiusmod <a href="#">#Creative Cloud</a>
                        <span>2 hours ago</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="calender">
            <div class="cal1"></div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="counterField">
            <div class="titleCounters">Posts</div>
            <div class="pictureFieldCounters"><img src="~/Img/posts.png" alt="posts" /></div>
            <div class="counterText">@DashboardModel.PostsCount()</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="counterField">
            <div class="titleCounters">Plugin</div>
            <div class="pictureFieldCounters"><img src="~/Img/plugins.png" alt="plugins" /></div>
            <div class="counterText">@DashboardModel.PluginsCount()</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="counterField">
            <div class="titleCounters">Comments</div>
            <div class="pictureFieldCounters"><img src="~/Img/comments.png" alt="comments" /></div>
            <div class="counterText">@DashboardModel.CommentCount()</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="counterField">
            <div class="titleCounters">MONSTER COUNTER</div>
            <div class="pictureFieldCounters"><img src="~/Img/monster.png" alt="monster" /></div>
            <div class="counterText" id="monsterCounter">@DashboardModel.MonsterCount()</div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Bundles/AdminPanelWidgets")
}
