@using System.Web.Optimization
@using TMTK05.Models
@model TMTK05.Models.UserModel
@{
    ViewBag.Title = "Log in";
    ViewBag.HeaderTitle = "Log in";
    ViewBag.HeaderSubHeading = String.Empty;
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-arrow-right"></i> login
        </li>
    </ol>
}

@using (Html.BeginForm("Login", "Admin",
    new {ViewBag.ReturnUrl},
    FormMethod.Post, new {@id = "loginForm", @autocomplete = "off"}))
{
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Username)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p id="usernameError" class="col-lg-2 alert-small alert-danger">
            Username is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Password)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p id="passwordError" class="col-lg-2 alert-small alert-danger">
            Password is required
        </p>
    </div>
    if (PluginModel.PluginStatus("1"))
    {
        <div class="row" id="tfaCode">
            <p class="col-lg-1">
                @Html.LabelFor(model => model.TwoFactorCode)
            </p>
            <p class="col-lg-2">
                @Html.EditorFor(model => model.TwoFactorCode, new { htmlAttributes = new { @class = "form-control" } })
            </p>
            <p id="tfaError" class="col-lg-2 alert-small alert-danger">
                Code is required
            </p>
        </div>
    }
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <input type="submit" name="submit" value="Login" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    <script type="text/javascript">

        var tfa = false;

        function checkTfa() {
            var url = "/Admin/TfaCheck";
            var username = $('#Username').val();
            $.get(url, { input: username }, function(data) {
                if (data == "tfa") {
                    tfa = true;
                    $('#tfaCode').show(500);
                    $('#tfaError').hide();
                } else {
                    tfa = false;
                    $('#tfaCode').hide(500);
                }
            });
        }

        $("#loginForm").submit(function(event) {
            var error = false;
            if (tfa) {
                if ($('#TwoFactorCode').val() == "") {
                    error = true;
                    $('#tfaError').show(500);
                }
            }
            if ($('#Username').val() == "") {
                error = true;
                $('#usernameError').show(500);
            }
            if ($('#Password').val() == "") {
                error = true;
                $('#passwordError').show(500);
            }
            if (error) {
                event.preventDefault();
            } else {
                $('#newUserForm').submit();
            }
        });

        $('#Username').keyup(function() {
            checkTfa();
        });

        $('#Username').change(function() {
            checkTfa();
        });

        checkTfa();
    </script>
    @if (Model.ErrorCode)
    {
        <script type="text/javascript">
            alertify.error('You have entered an invalid code!');
        </script>
    }
    else if (Model.Error)
    {
        <script type="text/javascript">
            alertify.error('You have entered an invalid username or password!');
        </script>
    }
}