@using System.Web.Optimization
@using TMTK05.Attributes
@using TMTK05.Models
@model UploadImageModel
@{
    ViewBag.Title = "Media Upload";
    ViewBag.HeaderTitle = "Media Upload";
    ViewBag.HeaderSubHeading = "";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Styles
{
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
    @Styles.Render("~/Bundles/WebsiteCropStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Media Upload
        </li>
    </ol>
}

@using (Html.BeginForm("MediaUpload", "Admin",
    new {ViewBag.ReturnUrl},
    FormMethod.Post, new {@id = "mediaUploadForm", @autocomplete = "off", @enctype = "multipart/form-data"}))
{
    @Html.EditorFor(m => m.X)
    @Html.EditorFor(m => m.Y)
    @Html.EditorFor(m => m.Width)
    @Html.EditorFor(m => m.Height)
    @Html.EditorFor(model => model.Flickr)

    <div class="row">
        <p class="col-lg-1">
            @Html.CheckBoxFor(m => m.IsUrl)
            @Html.LabelFor(m => m.Url)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control" } })
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.EditorFor(model => model.IsFlickr)
            @Html.LabelFor(model => model.Flickr)
        </p>
        <p class="col-lg-2">
            @Html.Editor("FlickrQuery", new { htmlAttributes = new { @class = "form-control" } })
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.CheckBoxFor(m => m.IsFile)
            @Html.LabelFor(m => m.File)
        </p>
        <p class="col-lg-2">
            @Html.FileFor(m => m.File)
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-11" style="text-align: center;">
            <div id="upload-cut">
                <img alt="" id="preview" style="display:block;max-width:1520px;max-height:550px;width:auto;height:auto;margin-bottom:10px;" src="http://tmtk-05.ict-lab.nl/Img/empty.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteImageCropScripts")
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")

    <script type="text/javascript">
        var boxes = $('input[type=checkbox]').attr('disabled', true);

        var preview = $('#preview').load(function () {
            setPreview();
            ias.setOptions({
                x1: 0,
                y1: 0,
                x2: $(this).width(),
                y2: $(this).height(),
                show: true
            });
        });

        var setPreview = function(x, y, w, h) {
            $('#X').val(x || 0);
            $('#Y').val(y || 0);
            $('#Width').val(w || preview[0].naturalWidth);
            $('#Height').val(h || preview[0].naturalHeight);
        };

        var ias = preview.imgAreaSelect({
            handles: true,
            instance: true,
            fadeSpeed: 300,
            parent: 'html',
            onSelectEnd: function(s, e) {
                var scale = preview[0].naturalWidth / preview.width();
                var f = Math.floor;
                setPreview(f(scale * e.x1), f(scale * e.y1), f(scale * e.width), f(scale * e.height));
            }
        });

        var setBox = function(filter) {
            $('button').attr('disabled', false);
            boxes.attr('checked', false)
                .filter(filter).attr({ 'checked': true, 'disabled': false });
        };

        setPreview(0, 0, 1, 1);

        var fetchImages = function (query) {
            $.getJSON('http://www.flickr.com/services/feeds/photos_public.gne?jsoncallback=?', {
                tags: query,
                tagmode: "any",
                format: "json"
            }, function (data) {
                var screen = $('<div />').addClass('waitScreen').click(function () {
                    $(this).remove();
                }).appendTo('body');
                var box = $('<div />').addClass('flickrImages').appendTo(screen);
                $.each(data.items, function (i, v) {
                    console.log(data.items[i]);
                    $('<img />').addClass('flickrImage').attr('src', data.items[i].media.m).click(function () {
                        $('#Flickr').val(this.src).change();
                        screen.remove();
                    }).appendTo(box);
                });
            });
        };

        $('#FlickrQuery').change(function () {
            fetchImages(this.value);
        });

        $('#Flickr').change(function () {
            setBox('#IsFlickr');
            preview.attr('src', this.value);
        });

        $('#Url').on('change keyup paste', function () {
            setBox('#IsUrl');
            preview.attr('src', this.value);
        });

        $('#File').change(function (evt) {
            var f = evt.target.files[0];
            var reader = new FileReader();

            if (!f.type.match('image.*')) {
                alertify.error("The file you've selected is not an image!");
                return;
            }

            setBox('#IsFile');
            reader.onload = function (e) { preview.attr('src', e.target.result); };
            reader.readAsDataURL(f);
        });

        boxes.change(function () {
            setBox(this);
            $('#' + this.id.substr(2)).change();
        });

        $('button').attr('disabled', true);
        $('form').submit(function () {
            $('button').attr('disabled', true).text('Please wait ...');
        });
    </script>
    @if (Model.Done)
    {
        <script type="text/javascript">
            alertify.success('The image has been uploaded!');
        </script>
    }
}