@using System.Web.Optimization
@using TMTK05.Models
@model PageModel
@{
    ViewBag.Title = "Add Page";
    ViewBag.HeaderTitle = "Add Page";
    ViewBag.HeaderSubHeading = "The more, the better, right?"; /* MEOW, Copycat! */
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Pages
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Add Page
        </li>
    </ol>
}

@using (Html.BeginForm("NewPage", "Admin",
    new {ViewBag.ReturnUrl},
    FormMethod.Post, new {@id = "newPageForm", @autocomplete = "off"}))
{
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Title)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p id="titleError" class="col-lg-2 alert-small alert-danger">
            Title is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Description)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p id="descriptionError" class="col-lg-2 alert-small alert-danger">
            Description is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Menu)
        </p>
        <p class="col-lg-2">
            @Html.RadioButtonFor(model => model.Menu, 1, new { @id = "Menu1", @checked = "checked" }) @Html.LabelFor(model => model.Type, "Yes", new { @for = "Menu1" }) <br />
            @Html.RadioButtonFor(model => model.Menu, 0, new { @id = "Menu0" }) @Html.LabelFor(model => model.Type, "No", new { @for = "Menu0" })
        </p>
    </div>
    if (PluginModel.PluginStatus("3"))
    {
        <div class="row">
            <p class="col-lg-1">
                @Html.LabelFor(model => model.Type)
            </p>
            <p class="col-lg-2">
                @Html.RadioButtonFor(model => model.Type, 0, new { @id = "Type0", @checked = "checked" }) @Html.LabelFor(model => model.Type, "Static page", new { @for = "Type0" }) <br />
                @Html.RadioButtonFor(model => model.Type, 1, new { @id = "Type1" }) @Html.LabelFor(model => model.Type, "Blog", new { @for = "Type1" })
            </p>
        </div>
    }
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <input type="submit" name="submit" value="Add Page" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    <script type="text/javascript">
        $("#newPageForm").submit(function(event) {
            var error = false;
            if ($('#Title').val() == "") {
                error = true;
                $('#titleError').show(500);
            }
            if ($('#Description').val() == "") {
                error = true;
                $('#descriptionError').show(500);
            }
            if (error) {
                event.preventDefault();
            } else {
                $('#newPageForm').submit();
            }
        });
    </script>
    @if (Model.Done)
    {
        <script type="text/javascript">
            $('#Title').val("");
            $('#Description').val("");
            alertify.success('The page has been added!');
        </script>
    }
}