@using System.Web.Optimization
@model TMTK05.Models.NewPageModel

@{
    ViewBag.Title = "Add Page";
    ViewBag.HeaderTitle = "Add Page";
    ViewBag.HeaderSubHeading = "The more, the better, right?"; /* MEOW, Copycat! */
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Pages
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Add Page
        </li>
    </ol>
}

@using (Html.BeginForm("NewPage", "Admin", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "newPageForm", @autocomplete = "off" }))
{
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Title)
        </p>
        <p class="col-lg-2">
            @Html.TextBoxFor(model => model.Title, new {@class = "form-control"})
        </p>
        <p id="titleError" class="col-lg-2 alert-small alert-danger">
            Title is required
        </p>
    </div>

    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Description)
        </p>
        <p class="col-lg-2">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </p>
        <p id="descriptionError" class="col-lg-2 alert-small alert-danger">
            Description is required
        </p>
    </div>

    <div class="row">
        <p class="col-lg-1">
            @*@Html.LabelFor(model => model.Content)*@
        </p>
        <p class="col-lg-2">
            @*@Html.TextBoxFor(model => model.Content, new { @class = "form-control" })*@
        </p>
        <p id="contentError" class="col-lg-2 alert-small alert-danger">
            Content is required
        </p>
    </div>

    <div class="row">
        <p class="col-lg-1">
            @*@Html.LabelFor(model => model.Image)*@
        </p>
        <p class="col-lg-2">
            @*@Html.TextBoxFor(model => model.Image, new { @class = "form-control" })*@
        </p>
        <p id="imageError" class="col-lg-2 alert-small alert-danger">
            Image is required
        </p>
    </div>

    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <input type="submit" name="submit" value="Add Page" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
}