@using System.Web.Optimization
@using TMTK05.Models
@model SettingsModel
@{
    ViewBag.Title = "Plugin Settings";
    ViewBag.HeaderTitle = "Plugin Settings";
    ViewBag.HeaderSubHeading = "";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";

    var pluginInfo = PluginModel.AllPlugins();
}

@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-wrench"></i> Layout settings
        </li>
    </ol>
}

<div class="table-responsive">
    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Status</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i <= pluginInfo.Count / 6; i++)
            {
                <tr style="height: 51px">
                    <td style="vertical-align: middle">
                        @pluginInfo[i * 6 - 6]
                    </td>
                    <td style="vertical-align: middle">
                        @pluginInfo[i * 6 - 5]
                    </td>
                    <td style="vertical-align: middle">
                        @pluginInfo[i * 6 - 4]
                    </td>
                    <td style="vertical-align: middle">
                        @pluginInfo[i * 6 - 3]
                    </td>
                    <td style="vertical-align: middle">
                        <button id="plugin_@pluginInfo[i * 6 - 6]" class="btn btn-primary" onclick="EnableDisable(@pluginInfo[i * 6 - 6])"></button>
                    </td>
                    <td style="vertical-align: middle">
                        @if (Convert.ToInt16(pluginInfo[i*6 - 1]) == 1)
                        {
                            <button id="settings_@pluginInfo[i * 6 - 6]" class="btn btn-primary">Settings</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    @Scripts.Render("~/Bundles/SortableScripts")
    @for (var i = 1; i <= pluginInfo.Count / 6; i++)
    {
        <script type="text/javascript">
            var value = @i + "";
            var url = "/Admin/PluginStatus";
            $.get(url, { input: value }, function(data) {
                if (data == "True") {
                    $('#plugin_@i').html('Enabled');
                } else if (data == "False") {
                    $('#plugin_@i').html('Disabled');
                }
            });
        </script>
    }
    <script type="text/javascript">
        function EnableDisable(id) {
            var url = "/Admin/PluginEnableDisable";
            $.get(url, { input: id }, function(data) {
                if (data == "0") {
                    $('#plugin_' + id).html('Disabled');
                } else if (data == "1") {
                    $('#plugin_' + id).html('Enabled');
                }
            });
        }

        $('#settings_2').click(function () {
            var url = "/ContactPlugin/GetEmail";
            $.get(url, function (mail) {
                alertify.dialog('prompt')
                    .setting({
                        'labels': { ok: 'Save', cancel: 'Close' },
                        'title': 'Contact plugin',
                        'message': 'What\'s your email address?',
                        'value': mail,
                        'onok': function (evt, value) {
                            var url2 = "/ContactPlugin/SaveEmail";
                            $.get(url2, { input: value }, function (data) {
                                if (data == "True") {
                                    alertify.success("Your email has been saved!");
                                } else {
                                    alertify.error("Oops something went wrong!");
                                }
                            });
                        },
                    }).show();
            });
        });
    </script>
}