@using System.Web.Optimization
@model TMTK05.Models.SettingsModel
@{
    ViewBag.Title = "Layout Settings";
    ViewBag.HeaderTitle = "Layout Settings";
    ViewBag.HeaderSubHeading = "Personalization";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-wrench"></i> Settings
        </li>
        <li class="active">
            <i class="fa fa-wrench"></i> Layout settings
        </li>
    </ol>
}

@using (Html.BeginForm("Settings", "Admin",
    new {ViewBag.ReturnUrl},
    FormMethod.Post, new {@id = "settingsForm"}))
{
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Header)
        </p>
        <p class="col-lg-1">
            @Html.RadioButtonFor(model => model.Header, 0, new {@id = "Header0"}) @Html.LabelFor(model => model.Header, "On", new {@for = "Header0"}) <br />
            @Html.RadioButtonFor(model => model.Header, 1, new {@id = "Header1"}) @Html.LabelFor(model => model.Header, "Off", new {@for = "Header1"})
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Footer)
        </p>
        <p class="col-lg-1" id="radioButtonFooter">
            @Html.RadioButtonFor(model => model.Footer, 0, new {@id = "Footer0"}) @Html.LabelFor(model => model.Footer, "On", new {@for = "Footer0"}) <br />
            @Html.RadioButtonFor(model => model.Footer, 1, new {@id = "Footer1"}) @Html.LabelFor(model => model.Footer, "Off", new {@for = "Footer1"})
        </p>
    </div>
    <div class="row" id="textFooter">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.FooterText)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.FooterText, new {htmlAttributes = new {@class = "form-control"}})
        </p>
        <p id="footerTextError" class="col-lg-2 alert-small alert-danger">
            Footer text is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.ColorScheme)
        </p>
        <p class="col-lg-6">
            @Html.EditorFor(model => model.ColorScheme)
            <span class="switch-color brown" style="background: #663300;" onclick=" headerColorSwitch('brown'); active() "></span>
            <span class="switch-color orange" style="background: #fcb040;" onclick=" headerColorSwitch('orange'); active() "></span>
            <span class="switch-color olive" style="background: #8FA411;" onclick=" headerColorSwitch('olive'); active() "></span>
            <span class="switch-color green" style="background: #7ab800;" onclick=" headerColorSwitch('green'); active() "></span>
            <span class="switch-color lime" style="background: #cccc33;" onclick=" headerColorSwitch('lime'); active() "></span>
            <span class="switch-color cyan" style="background: #66cccc;" onclick=" headerColorSwitch('cyan'); active() "></span>
            <span class="switch-color blue" style="background: #21aded;" onclick=" headerColorSwitch('blue'); active() "></span>
            <span class="switch-color purple" style="background: #993399;" onclick=" headerColorSwitch('purple'); active() "></span>
            <span class="switch-color pink" style="background: #ea4c88;" onclick=" headerColorSwitch('pink'); active() "></span>
            <span class="switch-color red" style="background: #E97c5f;" onclick=" headerColorSwitch('red'); active() "></span>
            <span class="switch-color winered" style="background: #990000;" onclick=" headerColorSwitch('winered'); active() "></span>
            <span class="switch-color black" style="background: #000000;" onclick=" headerColorSwitch('black'); active() "></span>
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <input type="submit" name="submit" value="Save" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    <script type="text/javascript">

        if ($("input:radio[id=Footer1]").is(":checked")) {
            $("#textFooter").hide();
        }

        function active() {
            $(".switch-color").removeClass("active-border");
            $('.' + $('#ColorScheme').val()).addClass("active-border");
        }

        active();

        $('#radioButtonFooter input:radio').click(function() {
            if ($(this).val() === '0') {
                footer(0);
            } else if ($(this).val() === '1') {
                footer(1);
            }
        });

        $("#settingsForm").submit(function(event) {
            if ($("input:radio[id=Footer0]").is(":checked")) {
                if ($('#FooterText').val() == "") {
                    event.preventDefault();
                    $('#footerTextError').show(500);
                }
            } else {
                $('#settingsForm').submit();
            }
        });

        function headerColorSwitch(color) {
            $('#ColorScheme').val(color);
        }

        function footer(value) {
            if (value == 0) {
                $('#textFooter').show(500);
            } else if (value == 1) {
                $('#textFooter').hide(500);
            }
        }
    </script>
    @if (Model.Done)
    {
        <script type="text/javascript">
            alertify.success('The settings have been saved!');
        </script>
    }
}