@using System.Web.Optimization
@model TMTK05.Models.UserModel
@{
    ViewBag.Title = "Profile";
    ViewBag.HeaderTitle = "Profile";
    ViewBag.HeaderSubHeading = "Is it me you're looking for?";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}
@section Styles {
    @Styles.Render("~/Bundles/WebsiteAlertifyStyles")
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-user"></i> Profile
        </li>
    </ol>
}

@using (Html.BeginForm("ViewProfile", "Admin",
    new {ViewBag.ReturnUrl},
    FormMethod.Post, new {@id = "updateUserForm"}))
{
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.OldPassword)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.OldPassword, new {htmlAttributes = new {@class = "form-control"}})
        </p>
        <p id="oldPasswordError" class="col-lg-2 alert-small alert-danger">
            Old Password is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Password)
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
        </p>
        <p id="passwordError" class="col-lg-2 alert-small alert-danger">
            Password is required
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            @Html.LabelFor(model => model.Password, new {@for = "Password2"})
        </p>
        <p class="col-lg-2">
            @Html.EditorFor(model => model.Password, new {@id = "Password2", @class = "form-control"})
        </p>
        <p id="passwordMismatchError" class="col-lg-2 alert-small alert-danger">
            Passwords are not the same
        </p>
    </div>
    <div class="row">
        <p class="col-lg-1">
            <!-- Boo hoo, so bad, so sad -->
        </p>
        <div class="col-lg-1">
            <input type="submit" name="submit" value="Change password" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/WebsiteAlertifyScripts")
    <script type="text/javascript">
        $('#oldPasswordError').hide();
        $('#passwordError').hide();
        $('#passwordMismatchError').hide();

        var error = false;

        function passwordCheck() {
            var password = $('#Password').val();
            var password2 = $('#Password2').val();

            if (password != "" && password2 != "") {
                if (password == password2) {
                    error = false;
                    $('#passwordMismatchError').hide(500);
                } else {
                    error = true;
                    $('#passwordMismatchError').show(500);
                }
            }
        }

        $("#updateUserForm").submit(function(event) {
            var error = false;
            if ($('#Password').val() == "") {
                error = true;
                $('#passwordError').show(500);
            }
            if ($('#OldPassword').val() == "") {
                error = true;
                $('#oldPasswordError').show(500);
            }
            if (error) {
                event.preventDefault();
            } else {
                $('#updateUserForm').submit();
            }
        });

        $('#Password').keyup(function() {
            passwordCheck();
        });

        $('#Password').change(function() {
            passwordCheck();
        });

        $('#Password2').keyup(function() {
            passwordCheck();
        });

        $('#Password2').change(function() {
            passwordCheck();
        });
    </script>
    @if (Model.Done)
    {
        <script type="text/javascript">
            alertify.success('Your password has been changed!');
        </script>
    }
    @if (Model.OldFalse)
    {
        <script type="text/javascript">
            alertify.error('The old password is wrong!');
        </script>
    }
}